body {
    font-family: sans-serif;
    background-color: #b75353;
    color:#3232e6;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

    .container{
        max-width: 800px;
        margin: 0 auto;
        font-family: sans-serif;
        padding-top: 6px;
        padding-left: 2220px;
        padding-right: 20px;
    }